<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net40" />
  <package id="EntityFramework.zh-Hans" version="6.2.0" targetFramework="net40" />
  <package id="Z.EntityFramework.Extensions" version="4.0.49" targetFramework="net40" />
  <package id="Z.EntityFramework.Plus.EF6" version="1.6.5" targetFramework="net40" />
  <package id="Z.Expressions.Eval" version="3.1.5" targetFramework="net40" />
</packages>