<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  
  <connectionStrings>
    <add name="erpsEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--200-->
    <!--%Kw4/YoI2s9GRrPRtuc%1npvMhzi/YrLUcDernNCiTh1/e7F3AsoKWBzsz8lHXuWCvQ6TghwA1X1FYRV1p7%T5dKkYNjb57A92ezfaatbrAX26%Ti1WOR%axDRn89lyDM4DYA0m9t8TzmqxOPCQrAsQ5smNylvkY-->
    <!--云服务器-->
    <!--%Kw4/YoI2s%UXqsblaZDoFP5q/20RcKZxyoROF5NCjz74OVQnOVhBu1ObqCrdi8Qq3Aj/Asi6S/BBwNdwhFwkfIfsZGJRnmCzFXIKlleku7ut%Z5Rid1mqKKtPO2SxGqV2xTFCXzURzkyAlY53spcDOGtgau27yN-->
    <!--云服务器snherps-->
    <!--%Kw4/YoI2s%UXqsblaZDoFP5q/20RcKZxyoROF5NCjz74OVQnOVhBvyHy5EisXiSCJvcqJeyLiJJNyRNhRD21vNSJX5KRR/d62SE5BPh4hIeNAt1Bij8qWk%rxUD26K3A8mJEj5k/Dc0Wpk8G2MrkNe%W8aexwfLCSTu%f9edqQ=-->
    <add key="DBCONNECTION" value="%Kw4/YoI2s%UXqsblaZDoFP5q/20RcKZxyoROF5NCjz74OVQnOVhBu1ObqCrdi8Qq3Aj/Asi6S/BBwNdwhFwkfIfsZGJRnmCzFXIKlleku7ut%Z5Rid1mqKKtPO2SxGqV2xTFCXzURzkyAlY53spcDOGtgau27yN" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <interceptors>
      <interceptor type="System.Data.Entity.Infrastructure.Interception.DatabaseLogger, EntityFramework">
        <parameters>
          <parameter value="E:\Customer\广州神奈河\3 Source\ERPS\ERPS_API\log\log.txt" />
          <parameter value="true" type="System.Boolean" />          
        </parameters>
      </interceptor>
    </interceptors>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider></providers>
  </entityFramework>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Z.EntityFramework.Extensions" publicKeyToken="59b66d028979105b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.95.0" newVersion="4.0.95.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>